

<nav class="navbar navbar-light" style="background-color: hsl(205, 39%, 47%);">


    <nav class="navbar navbar-light" style="background-color:  hsl(205, 39%, 47%); width:100%;" >
      <div class="container">
        <div class="row">
          <div class="col-sm-4" style="text-align: left;" >
            <h3 style="font-weight: bold; color:cornsilk;">Contact Us</h3>
            <br>
            <div class="row" style="color: cornsilk;font-weight: bold; font-size: 20px;">
              <div class="col-1">
                <svg style="font-weight: bold;" class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"/>
                  <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"/>
              </svg>
              </div>
              <div class="col">
                <p>
                 {{ email }}
                </p>
              </div>
            </div>
          <br>
            <div class="row" style="color: cornsilk;font-weight: bold; font-size: 20px;">
              <div class="col-1">
                <svg class="bi bi-people" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 00.014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 00.022.004zm7.973.056v-.002.002zM11 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zM6.936 9.28a5.88 5.88 0 00-1.23-.247A7.35 7.35 0 005 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 015 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 116 0 3 3 0 01-6 0zm3-2a2 2 0 100 4 2 2 0 000-4z" clip-rule="evenodd"/>
                </svg>
              </div>
              <div class="col">
                <p >
                  {{ teleNo1 }}<br>
                  {{ teleNo2 }}
                </p>
              </div>
            </div>

            <div class="row" style="color: cornsilk;font-weight: bold; font-size: 20px;">
              <div class="col-1">
                <svg class="bi bi-envelope-open" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.243 6.929l.514-.858L8 10.417l7.243-4.346.514.858L8 11.583.243 6.93z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M7.184 10.68L.752 14.432l-.504-.864L6.68 9.816l.504.864zm1.632 0l6.432 3.752.504-.864L9.32 9.816l-.504.864z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 00-.94 0l-6 3.2A1 1 0 001 5.4V14a1 1 0 001 1h12a1 1 0 001-1V5.4a1 1 0 00-.53-.882l-6-3.2zM7.06.435a2 2 0 011.882 0l6 3.2A2 2 0 0116 5.4V14a2 2 0 01-2 2H2a2 2 0 01-2-2V5.4a2 2 0 011.059-1.765l6-3.2z" clip-rule="evenodd"/>
                </svg>
              </div>
              <div class="col">
                <p>
                 {{ addess_No }}
                 {{ addres_city }}
                 {{ address_street }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4" style="text-align: center; color:cornsilk;">
            <h3 style="font-weight: bold; color:cornsilk;">Contact Us</h3>
            <br>
            <a href="https://www.facebook.com/login.php">
              <img [src]="fb" alt="HTML tutorial" style="width:42px;height:42px;border:0">
            </a>
           <p>   </p>
            <a href="https://www.facebook.com/login.php">
              <img [src]="fb" alt="HTML tutorial" style="width:42px;height:42px;border:0">
            </a>
          </div>
          <div class="col-sm-3" style="text-align: right; color: cornsilk;font-weight: bold; font-size: 20px;">
            <p>Last Modified {{date1}}</p>

          </div>
          <div class="col-sm-1" style="text-align: right; color: cornsilk;font-weight: bold; font-size: 20px;">
            <a routerLink="/login"><p style="margin-left: 400%;color: cornsilk;font-weight: bold; font-size: 20px;">Admin</p></a>
          </div>

        </div>
      </div>

    </nav>





    </nav>
