<div class="container-fliud" >
    <br><br>
    <hr>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <p style="font-size: 30px;"> Overview</p>
            <hr style="background-color:black ;">
            <p style="font-size: 20px;">
                This Ministry which provides an exemplary service to all public institutions and public servants under the name of Ministry of Public Administration, Home Affairs, Provincial Councils and Local Government from 27th November 2019 inherits a history which goes back nearly to 84 years. This Ministry which existed as a Department under the Ministry of Finance before 1931 has seen various transformations after the Donoughmore reforms in 1931 and at present ensures an excellent service delivery in the public sector facing different changes under various governments.<br><br>

                This Ministry was fallen under the leadership of Hon. Janaka Bandara Tennakoon, under the name of Public Administration, Home Affairs, Provincial Councils and Local Government from 27th November 2019 and Hon. Mahinda Samarasinghe holds office as the State Minister.<br><br>

                This Ministry which is considered as “Mahagedara” of public servants today proves its commitment to fulfill the principles of good governance whilst providing necessary directions for public servants and formalizing required policies and plans and Mr. S. Hettiarachchi, Secretary provides the leadership to the whole staff in the effort of achieving expected targets.

                The Ministry of Public Administration and Management, which is the apex of an excellent public service is shouldering its responsibilities as the vanguard being an example to all Ministries and public institutions.
            </p>
            <br><br><br>

            <div class="row" style="background-color:#538eb8;background-image: linear-gradient(to bottom right,#c3dddf ,#d5e3e6,rgb(226, 234, 238),#e3edf3);" >

                <!-- <ul  style="font-size: 25px; font-style: italic;font-weight: bold;" class="text-left" >Vision</ul> -->
                <table class="table">
                    <thead>
                      <tr>
                        <th style="font-size: 25px; font-style: italic;font-weight: bold;" class="text-left">Vision</th>
                      </tr>
                    </thead>
                    <tbody style="font-style: italic;font-size: 20px;">
                    <tr>
                        <td>"An exelence public service for customer"</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br><br><br>

            <div class="row" style="background-color:#538eb8;background-image: linear-gradient(to bottom right,#c3dddf ,#d5e3e6,rgb(226, 234, 238),#e3edf3);" >

                <!-- <ul  style="font-size: 25px; font-style: italic;font-weight: bold;" class="text-left" >Vision</ul> -->
                <table class="table">
                    <thead>
                      <tr>
                        <th style="font-size: 25px; font-style: italic;font-weight: bold;" class="text-left">Mission</th>
                      </tr>
                    </thead>
                    <tbody style="font-style: italic;font-size: 20px;">
                    <tr>
                        <td>"An exelence public service for customer"</td>
                    </tr>
                    </tbody>
                </table>
            </div>

          <br><br><br><br>

          <div class="row" >
            <div class="col-sm-10" >
              <p style="font-size: 30px;font-weight: bold; font-style: italic"> Objectives</p>
              <div class="accordion" id="accordionExample" style="font-size: large; " >
                <div class="card" >
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
                        <p class="p2"> Objective 01</p>
                      </div>
                    </h2>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card" style="width: 100%;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="p2"> Objective 02</p>
                      </div>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card" style="width: 100%;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <p class="p2"> Objective 03</p>
                      </div>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card" style="width: 100%;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<br><br><hr>
<app-footer></app-footer>
