<div class="body">
  <div class="grad"></div>
  <div class="login">

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

      <h3>Admin Login</h3><br>
      <div  *ngIf="authError" class="col-12 alert alert-danger">
        {{authError?.message}}
      </div>

      <label for="email" style="font-size: larger;font-weight: bold">Email</label>
      <input ngModel #email="ngModel" name="email" type="email" class="form-control">
      <br><br>

      <label for="password"  style="font-size: larger;font-weight: bold">Password</label>
      <input ngModel #password="ngModel" name="password" type="password" class="form-control" >

      <br><br>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>




</div>







