.mega-menu{
    width:900px;
    overflow: hidden;
    padding: 10px;
}

.right{
    left:60px ;
}
.navbar{
    background-color: rgb(5, 39, 73) !important ;
}

.navbar .nav li a{
    color: rgb(226, 233, 238) !important;
    font-size:x-large;

}

.navbar .nav li div a{
    font-size:large;
  color: rgb(4, 35, 57) !important;

}

.navbar .nav-item .dropdown-menu  .dropdown-item:hover{
   color: rgb(1, 3, 12) !important;
   background-color: rgb(183, 203, 211);
   opacity: 0.5;
}

.navbar .collapse{
    align-items: center;
}

.dropdown:hover>.dropdown-menu{
  display: block;
}
