.mega-menu{
    width:900px;
    overflow: hidden;
    padding: 10px;
}

.right{
    left:60px ;
}
.navbar{
    background-color: rgb(181, 216, 236) !important ;
}

.navbar .nav li a{
    color: rgb(41, 122, 168) !important;
    font-size:x-large;
    
}

.navbar .nav li div a{
    font-size:large;
    
}

.navbar .nav-item .dropdown-menu  .dropdown-item:hover{
   color: rgb(1, 3, 12) !important;
   background-color: rgb(183, 203, 211);
   opacity: 0.5;
}

.navbar .collapse{
    align-items: center;
}