

<!-- <nav class="navbar navbar-light" style="background-color: #74a8ce;"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" routerLink="/home">
            <img [src]="home" alt="home" style="width:42px;height:42px;border:0">
          <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Overview</a>
            <a class="dropdown-item" href="#">Organizational Structure</a>
            <!-- <div class="dropdown-divider"></div> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a> 
          <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
          
            <div class="row">
              <div class="col-md-4">
               <h6>Curative Services</h6>
               <a class="dropdown-item" routerLink="/home">Base Hospital</a>  
                <a class="dropdown-item" routerLink="#">Division Hospital</a>
                  <div>
                    <ul>
                     <a class="dropdown-item" routerLink="/home">A Type</a>
                     <a class="dropdown-item" routerLink="/home">B Type</a>
                     <a class="dropdown-item" routerLink="/home">C Type</a>
                    </ul>                    
                  </div>
                  <a class="dropdown-item" routerLink="/home">Primary Hospital</a>
              </div>
              <div class="col-md-4">
                <h6>Preventive Services</h6>
                  <a class="dropdown-item" routerLink="/home">MOH Office</a>
              </div>  
              <div class="col-md-4">
                <h6>Special Campaigns</h6>
                  <a class="dropdown-item" routerLink="/home">Anti Rabies Unit</a>
              </div>  

            </div>
          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Statistics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/home">Curative</a>
            <a class="dropdown-item" href="/home">Preventive</a>
            <a class="dropdown-item" href="/home">Special Campaigns</a>   
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gallery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/home">Photo Gallery</a>
            <a class="dropdown-item" href="/home">Video Gallery</a>
          </div>
        </li>   
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Contact Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/home">Photo Gallery</a>
            <a class="dropdown-item" href="/home">Video Gallery</a>
          </div>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Site Map
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/home">Photo Gallery</a>
            <a class="dropdown-item" href="/home">Video Gallery</a>
          </div>
        </li> 
        
      </ul>
      
    </div>
  </nav>

  