<div class="card" style="width: 25rem">
<div class="card-body">
  <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="text-center">
      <img [src]="defaultImage" width="350px" height="250px" (click)="fileUploader.click()">
    </div>
    <div class="form-group">
      <label>Select file to upload</label>
      <input type="file" class="form-control" #fileUploader formControlName="imageUrl" (change)="setImage($event)">
      <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required! </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="caption" placeholder="Caption">
      <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">This field is required! </div>

    </div>

    <div class="form-group">
      <input type="text" name="newCaption" placeholder="Albem Name" [(ngModel)]="newCaption"  [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <select formControlName="category" class="form-control" >
        <option *ngFor="let item of capList" [ngValue]="item">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success float-right">Save</button>
    </div>
  </form>
</div>


</div>
